@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Righteous&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /*background-color: #282c34;*/
    background: linear-gradient(180deg, rgb(13, 10, 45) 0%, rgb(49, 78, 95) 100%) no-repeat;
    color: white;
}

header {
    text-align: center;
    padding: 20px;
    font-family: 'Didact Gothic', sans-serif;
}

h1 {
    font-size: 6em;
}

.container {
    text-align: center;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #61dafb;
    color: #282c34;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s;
    font-weight: bold; /* Делаем текст жирным */
}

button:hover {
    background-color: #4fa3d1;
}
@media only screen and (max-width: 600px) {
    button {
        width: 50%;
    }
}
button + button {
    margin-top: 15px;
}